* {
    padding: 0;
    margin: 0;
}

body {
    background: url(fon.jpg);
}

.top_image {
    width: 100%;
}

.h1 {
    text-align: center;
    color:black;
    font-size: 50px;
    font-family: 'El Messiri', sans-serif;
    margin: 2% 0 1% 0;
}

.text {
    color: black;
    text-align: center;
    margin: 0 3%;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.video {
    display: flex;
    margin: 1% auto;
}

.button {
    display: flex;
    margin: 3% auto;
    width: 300px;
}
.button:hover{
    opacity: 0.5;
}

.text1 {
    color:black;
    text-align: justify;
    margin: 7% 10%;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}

.img3 {
    width: 180px;
    float: left;
    margin-right: 25px;
}
.img3:hover{
    opacity: 0.5;
}
.huy{
    margin-top: 12%;
}
.advice {
    margin-left: 35%;
    margin-top: 20px;
    color:black;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
}

.posters {
    display: flex;
    justify-content: space-around;
}

.a_img {
    width: 200px;
    height: 300px;
    margin: 20px auto;
}

.a_img:hover {
    opacity: 0.5;
}

.footer {
    text-align: center;
    color:black;
    font-size: 50px;
    font-family: 'El Messiri', sans-serif;
    margin: 2% 0 1% 0;
}